/* Font icons */

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?w40mx7');
    src:  url('fonts/icomoon.eot?w40mx7#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?w40mx7') format('truetype'),
      url('fonts/icomoon.woff?w40mx7') format('woff'),
      url('fonts/icomoon.svg?w40mx7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-metronome:before {
    content: "\e900";
}
.icon-tracks:before {
    content: "\e9bb";
}
.icon-play:before {
    content: "\ea1c";
}
.icon-pause:before {
    content: "\ea1d";
}
.icon-stop:before {
    content: "\ea1e";
}
.icon-volume-increase:before {
    content: "\ea2b";
}
.icon-volume-decrease:before {
    content: "\ea2c";
}
.icon-radio-checked:before {
    content: "\ea55";
}
.icon-radio-unchecked:before {
    content: "\ea56";
}
  
/* Button */

.button, .select {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    padding:9px 9px;
    display:inline-block;
    cursor:pointer;
}

.button:hover, .select:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}

.button[class^="icon-"], .button[class*=" icon-"] {
    padding:11px 11px;
}
  
.button.checked {
    background: rgb(202, 201, 201);
}
  
/* Select */
.select {
    margin: 0;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

select.select {
    padding:8px 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown:after {
    content:'▼';
    font:15px;
    color:#666666;
    right:6px; 
    top: 0px;
    padding:8px 0 11px 10px;
    width: 15px;
    border-left:1px solid #dcdcdc;
    position:absolute;
    pointer-events:none;
}

.dropdown .select {
    padding-right: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	height:75vh;
	overflow-y: scroll;
}

.itemList .item {
	padding: 2px 4px 2px 4px;
	color: #666666;
}

.itemList .item.selected {
	background: rgba(0, 123, 255, 0.25);
}